.header { background: $head-bg; }

.header-inner { position: relative; }
.highOne{ position: fixed;top: 3px;right: 3px;z-index: 999; }

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
